//Background
$main-bg : #E6ECF9;
$soft-bg : #384256;
$dark-bg : #222b3c;

//Text
$main-color : #2C2C2E;
$soft-color : #ddd;
$white-color : #f5f5f5;
$dark-color : #2a3447;
$white-text: #FFFCFC;
$blue-color : #5E5CE6;
$purple-color : #A2A4EF;
$blue-bg:#E6ECF9;

